@page "/About"

@model IndexModel
@{ ViewData["Title"] = "About Us"; }

<div class="container py-4">

    <h2>About Us</h2>
    <p>Welcome to BlockBusters Movie App</p>
    <p>
        Our mission is to provide a user-friendly movie database where
        you can browse, search, and view movie information.
    </p>

    <!-- IMAGE -->
    <div class="my-4 text-center">
        <img src="~/images/AboutUs.jpg" alt="About Us" class="img-fluid rounded shadow" style="max-width: 400px;" />
    </div>

    <p>
        Founded in 2025, RazorPagesMovie is dedicated to making movie
        discovery easy and accessible to all.
    </p>

    <h3>Our Team</h3>
    <p>
        We are a passionate group of developers and movie enthusiasts
        working hard to bring you the best movie browsing experience.
    </p>

    <h2>Contact Us</h2>
    <p>
        If you have any questions, feel free to contact us. 
        </p>
    <!-- IMAGE -->
    <div class="my-4 text-center">
        <img src="~/images/contactUs.jpg" alt="contact Us" class="img-fluid rounded shadow" style="max-width: 400px;" />
    </div>

    <ul>
        <li><strong>Email:</strong> <a href="mailto:blockbusters@movies.com">blockbusters@movies.com</a></li>
        <li><strong>Phone:</strong> +27 74 123 4567</li>
        <li><strong>Location:</strong> Makotopong, South Africa</li>
        <li><strong>Operating Hours:</strong> Mon - Fri: 8:00 - 17:00</li>
    </ul>



      

</div>
